<div style="display: flex; justify-content: center; align-items: center; background: #2D2D2D; height: 40px;">
    <menu style="display: flex; justify-content: space-between; align-items: center;">
        <ul>
            <a href="#" style="text-decoration: none; padding: 0px 10px; color: white;">Dashboard</a>
        </ul>
        <ul>
            <a href="#" style="text-decoration: none; padding: 0px 10px; color: white;">Produtos</a>
        </ul>
        <ul>
            <a href="#" style="text-decoration: none; padding: 0px 10px; color: white;">Categorias</a>
        </ul>
        <ul>
            <a href="#" style="text-decoration: none; padding: 0px 10px; color: white;">Relatórios</a>
        </ul>
        <ul>
            <a href="#" style="text-decoration: none; padding: 0px 10px; color: white;">Configurações</a>
        </ul>
    </menu>
</div>