<app-header></app-header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    &copy; 2026 Magnum Tubos e Conexões. Todos os direitos reservados.
    <ul style="list-style: none; display: flex; justify-content: center; gap: 20px; padding: 0; margin: 10px 0 0 0;">
        <li><a style="text-decoration: none; color: black;" href="#">Política de Privacidade</a></li>
        <li><a style="text-decoration: none; color: black;" href="#">Termos de Uso</a></li>
        <li><a style="text-decoration: none; color: black;" href="#">Contato</a></li>
    </ul>
</footer>