<app-loading *ngIf="loading"></app-loading>
<div *ngIf="stats" style="padding: 20px; font-family: Arial, sans-serif;">

    <div class="grid-cards" [style.grid-template-columns]="gridColumns">

        <mds-card title="Total Produtos" subtitle="Itens ativos" [value]="stats.totalProducts" iconClass="icon-blue"
            iconName="cube"></mds-card>

        <mds-card title="Valor do Estoque" subtitle="Em estoque" [value]="stats.stockValue | currency:'BRL'"
            iconClass="icon-emerald" iconName="estoque"></mds-card>

        <mds-card title="Lucro Total" subtitle="Realizado" [value]="stats.totalProfit | currency:'BRL'"
            iconClass="icon-green" iconName="chartBar"></mds-card>

        <mds-card title="Margem Média" subtitle="De lucro" [value]="stats.averageMargin | percentage"
            iconClass="icon-orange" iconName="percent"></mds-card>

    </div>

    <!-- ALERTA DE ESTOQUE -->
    <app-stock-alert></app-stock-alert>

    <div style="display: flex; justify-content: flex-end; align-items: center; margin-bottom: 20px;">
        <span style="color: #666; display: flex; align-items: center; gap: 5px;">
            <i class="material-icons" style="font-size: 18px; vertical-align: middle;">update</i>
            Última Atualização: {{ dataHoraAtualizacao }}
        </span>
    </div>

    <div class="container-cards">
        <div *ngIf="!loadingChart" class="grid_card">
            <mds-cards class="chart-wrapper">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [type]="pieChartType"
                    [options]="pieChartOptions" [colors]="pieChartColors" [legend]="true">
                </canvas>
            </mds-cards>

            <mds-cards class="chart-wrapper">
                <canvas baseChart [data]="barChartData" [labels]="barChartLabels" [type]="barChartType"
                    [options]="barChartOptions" [legend]="false">
                </canvas>
            </mds-cards>
        </div>
    </div>

    <!-- <div style="margin-bottom: 15px;">
        <div
            style="display: flex; justify-content: flex-start; align-items: center; gap: 10px; margin-top: 15px; overflow-x: auto;">

            <label>Filtrar por Categoria: </label>
            <mds-select [options]="categoriasUnicas" [(ngModel)]="categoriaFiltro" [required]="true"></mds-select>

            <div style="display: flex; justify-content: center; align-items: center;">
                <input type="text" [(ngModel)]="termoBusca" (keyup.enter)="filtrarProdutos()"
                    style="width: 300px; padding: 10px 32px 10px 12px; font-size: 14px; color: #333; background-color: #fff; border: 1px solid #ccc; border-radius: 12px;"
                    placeholder="Digite o nome do produto...">
                <mds-button variant="neutral" size="M" (click)="filtrarProdutos()" [disabled]="isLoading">
                    <i class="material-icons" style="font-size: 15px;">search</i>
                    <span>Buscar</span>
                </mds-button>
            </div>

            <app-loader-buscar *ngIf="isLoading"></app-loader-buscar>

            <mds-button variant="danger" size="M">Exportar PDF</mds-button>

            <div style="margin: 0px 5px;">
                <mds-button variant="success" size="M" (click)="abrirModalAdicionar()">Adicionar Produtos</mds-button>
            </div>
        </div>
    </div> -->

    <!-- <mds-modal [isOpen]="modalAdicionarVisivel" title="Adicionar Produto" (close)="fecharModalAdicionar()">
        <form [formGroup]="form" (ngSubmit)="onAdicionarProduto()">
            <mds-input type="text" label="Nome" formControlName="nome"
                [class.is-invalid]="form.get('nome')?.invalid && form.get('nome')?.touched" required></mds-input>

            <mds-select label="Categoria" [options]="categorias" formControlName="categoria" [required]="true"
                [value]="form.get('categoria')?.value"
                [class.is-invalid]="form.get('categoria')?.invalid && form.get('categoria')?.touched"></mds-select>

            <mds-input type="number" step="0" min="0" label="Estoque" formControlName="estoque"
                [class.is-invalid]="form.get('estoque')?.invalid && form.get('estoque')?.touched"></mds-input>

            <mds-input type="number" step="0.01" min="0.01" label="Preço Custo (R$)" formControlName="precoCusto"
                [class.is-invalid]="form.get('precoCusto')?.invalid && form.get('precoCusto')?.touched"></mds-input>

            <mds-input type="number" step="0.01" min="0.01" label="Preço Venda (R$)" formControlName="precoVenda"
                [class.is-invalid]="form.get('precoVenda')?.invalid && form.get('precoVenda')?.touched"></mds-input>

            <!-- OPCIONAL: Mostrar preview do lucro/margem 
            <div *ngIf="form.get('precoCusto')?.value && form.get('precoVenda')?.value" class="mt-2">
                <small class="text-muted">
                    Lucro estimado: {{ (form.get('precoVenda')?.value - form.get('precoCusto')?.value) | currency }}<br>
                    Markup: {{ calcularMargem(form.get('precoVenda')?.value, form.get('precoCusto')?.value) }}%
                </small>
            </div>
        </form>

        <div mds-modal-footer>
            <mds-button variant="danger" size="M" (click)="fecharModalAdicionar()">Cancelar</mds-button>
            <mds-button variant="success" size="M" (click)="onAdicionarProduto()"
                [disabled]="form.invalid">Confirmar</mds-button>
        </div>
    </mds-modal> -->

    <!-- <div *ngIf="!loading && !error"
        style="margin-bottom: 15px; overflow-x: auto; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); border-radius: 12px;">

        <table class="mds-table">
            <thead>
                <tr style="background-color: #f2f2f2;">
                    <th>
                        <span class="icon-checkbox-black" role="checkbox" (click)="toggleSelecionarTodos()"
                            [attr.aria-label]="selecionarTodos ? 'Desmarcar todos' : 'Selecionar todos'">

                            <i class="material-icons">{{ selecionarTodos ? 'check_box' : 'check_box_outline_blank'
                                }}</i>
                        </span>
                    </th>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Codigo/SKU</th>
                    <th>Estoque</th>
                    <th>P. Custo (R$)</th>
                    <th *ngIf="isAdmin">P. Venda (R$)</th>
                    <th *ngIf="isAdmin">P. Lucro (R$)</th>
                    <th *ngIf="isAdmin">Margem (%)</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of produtosFiltrados">
                    <td>
                        <span class="icon-checkbox" role="checkbox" [attr.aria-checked]="selecionados.includes(p.id)"
                            tabindex="0" (click)="toggleSelecao(p.id)" [attr.aria-label]="'Selecionar ' + p.nome">

                            <i class="material-icons">{{ selecionados.includes(p.id) ? 'check_box' :
                                'check_box_outline_blank' }}</i>
                        </span>
                    </td>
                    <td>
                        <a style="display: flex; justify-content: center; align-items: center;">{{ p.id }}</a>
                    </td>
                    <td><a style="display: flex; justify-content: center; align-items: center;">{{ p.nome }}</a></td>
                    <td><a style="display: flex; justify-content: center; align-items: center;">{{ p.categoria || 'Sem categoria' }}</a></td>
                    <td><a style="display: flex; justify-content: center; align-items: center;">{{ p.codigoBarras }}</a></td>
                    <td>
                        <div style="display: flex; justify-content: center; align-items: center; gap: 8px;">
                            <div
                                style="display: flex; justify-content: center; align-items: center; gap: 8px; cursor: pointer;">
                                <div style="display: flex; justify-content: center; align-items: center;">
                                    <span>{{ p.estoque }}</span>
                                </div>
                                <div style="display: flex; justify-content: center; align-items: center;">
                                    <mds-tooltip [text]="getEstoqueStatus(p.estoque).tooltip"
                                        [style.color]="getEstoqueStatus(p.estoque).color" [position]="'bottom'">
                                        <i class="material-icons" style="font-size: 20px; vertical-align: middle;">{{
                                            getEstoqueStatus(p.estoque).icon }}</i>
                                    </mds-tooltip>
                                </div>
                            </div>
                        </div>
                    </td>
                    <!-- Preço Custo 
                    <td>{{ (p.precoCusto || 0) | currency }}</td>

                    <!-- Preço Venda 
                    <td *ngIf="isAdmin">{{ (p.precoVenda || 0) | currency }}</td>

                    <!-- Lucro 
                    <td *ngIf="isAdmin">{{ ((p.precoVenda || 0) - (p.precoCusto || 0)) | currency }}</td>

                    <!-- Margem % 
                    <td *ngIf="isAdmin" style="font-weight: bold;"
                        [style.color]="isMargemNegativa(p.precoVenda, p.precoCusto) ? '#dc3545' : isMargemBaixa(p.precoVenda, p.precoCusto) ? '#ffc107' : '#28a745'">

                        {{ calcularMargem(p.precoVenda, p.precoCusto) }}%
                    </td>
                    <td>
                        <div style="display: flex; justify-content: center; align-items: center; gap: 5px;">

                            <mds-button variant="primary" size="S" (click)="abrirModalEditar(p)">
                                <span style="display: flex; justify-content: center; align-items: center; gap: 5px;">
                                    <i class="material-icons" style="font-size: 20px; vertical-align: middle;">edit</i>
                                    Editar
                                </span>
                            </mds-button>

                            <mds-button variant="danger" size="S" (click)="abrirModalExcluir(p)">
                                <span style="display: flex; justify-content: center; align-items: center; gap: 5px;">
                                    <i class="material-icons"
                                        style="font-size: 20px; vertical-align: middle;">delete</i>
                                    Excluir
                                </span>
                            </mds-button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="produtosFiltrados.length === 0" style="text-align: center; padding: 40px; color: #888; background: #fff;">
            Nenhuma produtos encontrada.
        </div>
    </div> -->

    <!-- <mds-modal [isOpen]="modalExcluirVisivel" title="Confirmar Exclusão" (close)="fecharModalExcluir()">
        <p>Tem certeza que deseja excluir o produto <strong>{{ produtoExcluir?.nome }}</strong>?</p>
        <p>Esta ação não pode ser desfita.</p>

        <div mds-modal-footer>
            <mds-button variant="danger" (click)="fecharModalExcluir()">Cancelar</mds-button>
            <mds-button variant="success" (click)="confirmarExclusao()">Confirmar</mds-button>
        </div>
    </mds-modal>

    <mds-modal [isOpen]="modalEditarVisivel" title="Editar do Produto" (close)="fecharModalEditar()">
        <form [formGroup]="form" (ngSubmit)="onEditarProduto()">
            <mds-input type="text" label="Nome" formControlName="nome"
                [class.is-invalid]="form.get('nome')?.invalid && form.get('nome')?.touched" required></mds-input>

            <mds-select label="Categoria" [options]="categorias" formControlName="categoria" [required]="true"
                [class.is-invalid]="form.get('categoria')?.invalid && form.get('categoria')?.touched"></mds-select>

            <mds-input type="number" step="0" min="0" label="Estoque" formControlName="estoque"
                [class.is-invalid]="form.get('estoque')?.invalid && form.get('estoque')?.touched"></mds-input>

            <mds-input type="number" step="0.01" min="0.01" label="Preço Custo (R$)" formControlName="precoCusto"
                [class.is-invalid]="form.get('precoCusto')?.invalid && form.get('precoCusto')?.touched"></mds-input>

            <mds-input type="number" step="0.01" min="0.01" label="Preço Venda (R$)" formControlName="precoVenda"
                [class.is-invalid]="form.get('precoVenda')?.invalid && form.get('precoVenda')?.touched"></mds-input>

            // OPCIONAL: Mostrar preview do lucro/margem
            <div *ngIf="form.get('precoCusto')?.value && form.get('precoVenda')?.value" class="mt-2">
                <small class="text-muted">
                    Lucro estimado: {{ (form.get('precoVenda')?.value - form.get('precoCusto')?.value) | currency }}<br>
                    Markup: {{ calcularMargem(form.get('precoVenda')?.value, form.get('precoCusto')?.value) }}%
                </small>
            </div>
        </form>

        <div mds-modal-footer>
            <mds-button variant="danger" (click)="fecharModalEditar()">Cancelar</mds-button>
            <mds-button variant="success" (click)="onEditarProduto()" [disabled]="form.invalid">Confirmar</mds-button>
        </div>
    </mds-modal> -->

    <!-- <div style="display: flex; justify-content: center; align-items: center; margin-top: 15px;">
        <mds-button variant="outline-secondary" size="S" (click)="onPageChange(currentPage - 1)"
            [disabled]="currentPage === 1">
            <span class="material-icons">chevron_left</span>
        </mds-button>
        <span style="margin: 0 10px;">Página {{ currentPage }}</span>
        <mds-button variant="outline-secondary" size="S" (click)="onPageChange(currentPage + 1)"
            [disabled]="currentPage === 16">
            <span class="material-icons">chevron_right</span>
        </mds-button>
    </div> -->

    <!-- Selecionar todos, Excluir Selecionados e Exportar Seleção-->
    <!-- <div style="display: flex; justify-content: flex-start; align-items: center; gap: 10px; margin-top: 15px;">

        <mds-button variant="outline-primary" size="M" (click)="toggleSelecionarTodos()">
            <span style="display: flex; justify-content: center; align-items: center; gap: 5px;">
                <i class="material-icons" style="font-size: 17px; vertical-align: middle;">select_all</i>
                {{ selecionarTodos ? 'Desmarcar Todos' : 'Selecionar Todos' }}
            </span>
        </mds-button>

        <mds-button variant="outline-secondary" size="M" (click)="abrirModalExportar()"
            [disabled]="selecionados.length === 0">
            <span style="display: flex; justify-content: center; align-items: center; gap: 5px;">
                <i class="material-icons" style="font-size: 17px; vertical-align: middle;">file_download</i>
                Exportar Seleção
            </span>
        </mds-button>

        <mds-button variant="outline-danger" size="M" (click)="abrirModalExcluirSelecionados()"
            [disabled]="selecionados.length === 0">
            <span style="display: flex; justify-content: center; align-items: center; gap: 5px;">
                <i class="material-icons" style="font-size: 17px; vertical-align: middle;">delete</i>
                Excluir Seleção
            </span>
        </mds-button>
    </div> -->

    <!-- <mds-modal [isOpen]="modalExcluirSelecionadosVisivel" title="Confirmar Exclusão"
        (close)="fecharModalExcluirSelecionados()">
        <p>Tem certeza que deseja excluir os produtos selecionados?</p>
        <p>Quantidade de produtos: {{ selecionados.length }}</p>
        <p>Esta ação não pode ser desfita.</p>

        <div mds-modal-footer>
            <mds-button variant="danger" (click)="fecharModalExcluirSelecionados()">Cancelar</mds-button>
            <mds-button variant="success" (click)="confirmarExclusaoSelecionados()">Confirmar</mds-button>
        </div>
    </mds-modal>

    <mds-modal [isOpen]="modalExportarVisivel" title="Exportar Selecionados" (close)="fecharModalExportar()">
        <p>Deseja exportar os produtos selecionados para Excel?</p>
        <p>Quantidade de produtos: {{ selecionados.length }}</p>

        <div mds-modal-footer>
            <mds-button variant="danger" (click)="fecharModalExportar()">Cancelar</mds-button>
            <mds-button variant="success" (click)="exportarSelecionados()" [qtdSelecionados]="selecionados.length"
                [idsSelecionados]="selecionados">Exportar</mds-button>
        </div>
    </mds-modal> -->
</div>